<h1>Flights</h1>
<% @flights.each do |flight| %>
  <p><%= flight.number %> : <%= flight.airline.name %></p>
  <ul>
    <% flight.passengers.each do |passenger| %>
      <li>
        <%= passenger.name %>
      </li>
    <% end %>
  </ul>
<% end %>